logs/
node_modules/
coverage/
run/
logs/
.DS_Store
.idea
.vscode

*.swp
*.lock
*.js
.env
!.autod.conf.js

npm-debug.log
package-lock.json

app/**/*.js
test/**/*.js
config/**/*.js
app/**/*.map
test/**/*.map
config/**/*.map

## web
.umi*
app/public
config/manifest.json

!init.d/mongo/init.js
!test/prepare.js
